.cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  margin-left: 230px;
}

.onecard {
  display: grid;
  grid-template-columns: repeat(1, 1.7fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-left: 520px;
  width: 50%;
}


    
    